<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    <script src="../scriptGold.js" defer type="module"></script>
    <link rel="stylesheet" href="../stylesGold.css">
</head>

<body>
    <div class="img-container">
        <img class="img-ninja2" src="./assets/img/ninja2.png" alt="">
        <img class="img-ninja1" src="./assets/img/ninja1.png" alt="">
        <img class="img-1" src="./assets/img/circulo.png" alt="">
    </div>
    <div class="cont-contenido">
        <div class="cont-orito">
            <img class="coin" src="./assets/img/coin.png" alt="">
            <h3 class="orito"><span class="oroExistente">$ 0.0</span> </h3>
        </div>

        <h1 class="title">Ninja Gold Game</h1>
        <div class="primera-div">


            <div class="action-container">
                <div class="card">
                    <div class="cont-pixel">
                        <img class="img-card" src="./assets/img/granja.gif" alt="">
                        <div class="cont-txt-pixel">
                            <p>GRANJA</p>
                            <p>10 a 20 de oro</p>
                        </div>
                        
                    </div>

                    <form id="granja_form">
                        <input class="btn" type="submit" value="Ir a la Granja">
                    </form>
                </div>

                <div class="card">
                    <div class="cont-pixel">
                        <img class="img-card" src="./assets/img/cueva.gif" alt="">
                        <div class="cont-txt-pixel">
                            <p>CUEVA</p>
                            <p>5 a 10 de oro</p>
                        </div>
                    </div>
                    <form id="cueva_form">
                        <input class="btn" type="submit" value="Ir a la Cueva">
                    </form>
                </div>

                <div class="card">
                    <div class="cont-pixel">
                        <img class="img-card" src="./assets/img/casita.gif" alt="">
                        <div class="cont-txt-pixel">
                            <p>CASA</p>
                            <p>2 a 5 de oro</p>
                        </div>
                    </div>
                    <form id="casa_form">
                        <input class="btn" type="submit" value="Ir a Casa">
                    </form>
                </div>

                <div class="card">
                    <div class="cont-pixel">
                        <img class="img-card" src="./assets/img/casino.gif" alt="">
                        <div class="cont-txt-pixel">
                            <p>CASINO</p>
                            <p>-50 a 50 de oro</p>
                        </div>
                    </div>
                    <form id="casino_form">
                        <input class="btn" type="submit" value="TIMBEAR">
                    </form>
                </div>

                <div class="card">
                    <div class="cont-pixel">
                        <img class="img-card" src="./assets/img/spa.gif" alt="">
                        <div class="cont-txt-pixel">
                            <p>SPA</p>
                            <p>-20 a -5 de oro</p>
                        </div>
                    </div>
                    <form id="spa_form">
                        <input class="btn" type="submit" value="IR AL SPA">
                    </form>
                </div>

            </div>
        </div>


        <h3 class="activity">Activity</h3>
        <div id="respuesta_div"></div>
    </div>


</body>

</html>